<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 width="200px" height="200px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                	<rect x="1" y="15" fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" width="54" height="42"/>
                	<polyline fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" points="11,12 11,7 63,7 63,50 58,50 	"/>
                	<line fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" x1="1" y1="23" x2="55" y2="23"/>
                	<line fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" x1="10" y1="19" x2="6" y2="19"/>
                	<line fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" x1="18" y1="19" x2="14" y2="19"/>
                	<line fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" x1="26" y1="19" x2="22" y2="19"/>
                </g>
                </svg>
                <h3 class="section-subheading text-muted">Stuff I've worked on before.</h3>
            </div>
        </div>
        <div class="row">
          {{#each model as |project|}}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#{{project.id}}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/{{project.image.display}}" class="img-responsive" alt="{{project.title}}">
                </a>
                <div class="portfolio-caption">
                    <h4>{{project.title}}</h4>
                    <p class="text-muted">{{project.description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <!-- carousel -->
        <br><br><br>
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Photography</h2>
              <!-- <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 width="200px" height="200px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
              <g>
              	<polygon fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" points="46,20 38,10 26,10 18,20 1,20 1,52 63,52
              		63,20 	"/>
              	<circle fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" cx="32" cy="36" r="8"/>
              	<line fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" x1="9" y1="20" x2="9" y2="52"/>
              	<line fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" x1="54" y1="28" x2="54" y2="28"/>
              </g>
              </svg> -->
              <!-- <h3 class="section-subheading text-muted">Photo Essays.</h3> -->

          </div>
          <br>
          <br>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <a href="#photo-essay-1" class="portfolio-link" data-toggle="modal">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <img src="img/auditorium-chairs.jpg" class="img-responsive" alt="test">
              </a>
              <div class="portfolio-caption">
                  <h4>At Work: delicate simplicity</h4>
                  <p class="text-muted">Appreciating the unnoticed beauty of simple, common work objects</p>
              </div>
          </div>

        </div><!-- /.container -->
    </div>
</section>
